/* line 1, ../../../../../../luiz.gustavo/Documents/GitHub/modulo-sass/scss/_reset.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 1, ../../../../../../luiz.gustavo/Documents/GitHub/modulo-sass/scss/_home.scss */
header {
  width: 100%;
  height: 80px;
  background-color: green;
}

/* line 7, ../../../../../../luiz.gustavo/Documents/GitHub/modulo-sass/scss/_home.scss */
.s-hero {
  width: 100%;
  height: 300px;
  margin-top: 100px;
  background-color: green;
}

/* line 12, ../../../../../../luiz.gustavo/Documents/GitHub/modulo-sass/scss/_home.scss */
.s-hero .container {
  width: 100%;
  max-width: 1140px;
}

/* line 15, ../../../../../../luiz.gustavo/Documents/GitHub/modulo-sass/scss/_home.scss */
.s-hero .container h1 {
  color: blue;
}

/* line 18, ../../../../../../luiz.gustavo/Documents/GitHub/modulo-sass/scss/_home.scss */
.s-hero .container button {
  padding: 20px 30px;
  font-size: 1.4rem;
  border-radius: 0.4rem;
  background-color: black;
  color: blue;
}

/* line 24, ../../../../../../luiz.gustavo/Documents/GitHub/modulo-sass/scss/_home.scss */
.s-hero .container button:hover {
  background-color: blue;
  color: white;
}

/* line 33, ../../../../../../luiz.gustavo/Documents/GitHub/modulo-sass/scss/_home.scss */
.first-section .btn {
  width: 350px;
  height: 400px;
  background-color: purple;
  color: black;
  font-weight: bold;
  font-size: 2rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

/* line 39, ../../../../../../luiz.gustavo/Documents/GitHub/modulo-sass/scss/_home.scss */
.second-section .btn {
  width: 1050px;
  height: 100px;
  background-color: green;
  color: black;
  font-weight: bold;
  font-size: 2rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

/* line 45, ../../../../../../luiz.gustavo/Documents/GitHub/modulo-sass/scss/_home.scss */
footer button {
  width: 75px;
  height: 75px;
  background-color: red;
  color: black;
  font-weight: bold;
  font-size: 2rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

/* line 50, ../../../../../../luiz.gustavo/Documents/GitHub/modulo-sass/scss/_home.scss */
.s-responsive {
  width: 100%;
  height: 400px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

/* line 53, ../../../../../../luiz.gustavo/Documents/GitHub/modulo-sass/scss/_home.scss */
.s-responsive .container {
  margin: 0rem 0.5rem;
  width: 200px;
  height: 200px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

/* line 58, ../../../../../../luiz.gustavo/Documents/GitHub/modulo-sass/scss/_home.scss */
.s-responsive .container .text h1 {
  font-size: 2.2rem;
  color: black;
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  /* line 64, ../../../../../../luiz.gustavo/Documents/GitHub/modulo-sass/scss/_home.scss */
  .s-responsive .container {
    width: 180px;
    height: 180px;
    background-color: yellow;
  }
  /* line 67, ../../../../../../luiz.gustavo/Documents/GitHub/modulo-sass/scss/_home.scss */
  .s-responsive .container .text h1 {
    font-size: 1.8rem;
    color: black;
    text-transform: uppercase;
  }
}

@media (max-width: 991px) {
  /* line 74, ../../../../../../luiz.gustavo/Documents/GitHub/modulo-sass/scss/_home.scss */
  .s-responsive .container {
    width: 130px;
    height: 130px;
    background-color: red;
  }
  /* line 77, ../../../../../../luiz.gustavo/Documents/GitHub/modulo-sass/scss/_home.scss */
  .s-responsive .container .text h1 {
    font-size: 1.5rem;
    color: black;
    text-transform: uppercase;
  }
}

@media (max-width: 768px) {
  /* line 50, ../../../../../../luiz.gustavo/Documents/GitHub/modulo-sass/scss/_home.scss */
  .s-responsive {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  /* line 85, ../../../../../../luiz.gustavo/Documents/GitHub/modulo-sass/scss/_home.scss */
  .s-responsive .container {
    margin: 0.5rem 0rem;
    width: 100px;
    height: 100px;
    background-color: blue;
  }
  /* line 89, ../../../../../../luiz.gustavo/Documents/GitHub/modulo-sass/scss/_home.scss */
  .s-responsive .container .text h1 {
    font-size: 1.5rem;
    color: black;
    text-transform: lowercase;
  }
}

@media (max-width: 600px) {
  /* line 50, ../../../../../../luiz.gustavo/Documents/GitHub/modulo-sass/scss/_home.scss */
  .s-responsive {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  /* line 97, ../../../../../../luiz.gustavo/Documents/GitHub/modulo-sass/scss/_home.scss */
  .s-responsive .container {
    margin: 0.5rem 0rem;
    width: 100px;
    height: 100px;
    background-color: purple;
  }
  /* line 101, ../../../../../../luiz.gustavo/Documents/GitHub/modulo-sass/scss/_home.scss */
  .s-responsive .container .text h1 {
    font-size: 1.5rem;
    color: black;
    text-transform: lowercase;
  }
}

@media (max-width: 480px) {
  /* line 50, ../../../../../../luiz.gustavo/Documents/GitHub/modulo-sass/scss/_home.scss */
  .s-responsive {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  /* line 109, ../../../../../../luiz.gustavo/Documents/GitHub/modulo-sass/scss/_home.scss */
  .s-responsive .container {
    margin: 0.5rem 0rem;
    width: 80px;
    height: 80px;
    background-color: white;
  }
  /* line 113, ../../../../../../luiz.gustavo/Documents/GitHub/modulo-sass/scss/_home.scss */
  .s-responsive .container .text h1 {
    font-size: 2.2rem;
    color: black;
    text-transform: uppercase;
  }
}

/*# sourceMappingURL=main.css.map */